<div class="add-team">
    <div class="input">
        <mat-label>Group generator</mat-label>
        <p>
        <mat-form-field class="example-form-field">
            <mat-label>Add a team!</mat-label>
            <input matInput type="text" [(ngModel)]="value">
            <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
            <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div class="buttons">
        <button mat-stroked-button class="button" [disabled]="value=='' || this.teamIsRepeated(this.value) || this.isMaximumReached()"
         color="primary"(click)="addTeam(this.value)">Add</button>
        &nbsp;
        <button mat-fab color="primary" [disabled]="teamList.length==0" (click)="deleteTeam(teams.selectedOptions.selected[0]?.value)">
            <mat-icon>delete</mat-icon>
        </button>
        <mat-error *ngIf="this.teamIsRepeated(this.value)">This team is repeated</mat-error>
        <mat-error *ngIf="this.isMaximumReached()">You reached 20 teams</mat-error>
    </div>
</div>


<div class="team-list">
    <mat-label>Teams</mat-label>
    <mat-selection-list #teams [multiple]="false">
        <mat-list-option *ngFor="let team of teamList" [value]="team">
            {{team.name}}
        </mat-list-option>
    </mat-selection-list>
    <button mat-stroked-button class="button" color="primary" [disabled]="!isFixtureAble()"
     (click)="generateFixture()">Generate</button>
     &nbsp;
    <button mat-stroked-button class="button" color="primary" [disabled]="this.isNotGenerated"
     (click)="clearFixture()">Clear</button>
</div>



<mat-list role="list">
    <mat-list-item role="listitem" *ngFor="let round of fixture; last as last">
        Fecha {{round.date}}
        <mat-list-item role="listitem" *ngFor="let match of round.matches">
            {{match.local.name}} - {{match.visitor.name}}
            <mat-divider [vertical]="true" style="height:50px"></mat-divider>
        </mat-list-item>
        <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
    </mat-list-item>
</mat-list>

